@charset "UTF-8";
/*CSS Doc*/

h1, p {
	font-family: talon, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.hidden {
	display: none;
}

#theContainer
{
	width: 1200px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
}

.theBody {
	background-color: black;
	color: #000;
    font-size: 15px;
    line-height: 15px;
    font-family: agency-fb, sans-serif;
}

.theHeader {
	height: 300px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin: 0 auto;
}

.theHeader h1 {
	text-align: center;
	margin-top: 200px;
	color: #960606;
	font-size: 250px;
	margin-bottom: 100px;

}

.drop-zone {
	width: 19.05%;
	border: solid 2px black;
	height: 25%;
	margin-top: 180px; 

}

#howToCon p {
	text-align: center;
	color: #960606;
	font-size: 87px;
	line-height: 82px
}

#howToCon {
	display: flex;
}

#mainContent {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 200px;
	margin-bottom: 80px;
}

.iconsLeft
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 5px;
	text-align: center;
}

.iconsRight
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 5px;
	text-align: center;
}

x
.iconContainer {
	width: 132px;
	height: 132px;
	justify-content: center;
	background-color: #afafaf;
	margin: 5px;
}

.iconContainer img
{
	width: 120px;
	height: 120px;
	
}

#bckgrd {
	/*background-color: red;*/
	background: url(../images/container_web.svg);
	width: 792px;
	height: 576px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	padding:
}


.theFooter {
	font-family: talon, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: #960606;
	font-size: 87px;
	line-height: 82px
	margin-top: 40px;
	display: flex;
	justify-content: center;

}

.drop-zone img {
	height: 80px !important;
	padding: 30px!important;
	cursor: default;                                                              
}

#reset
{
	display: flex;
	margin-bottom: 60px;
	margin-top: -50px;
	text-align: center;

}

#reset button
{

	margin: 0 auto;
	color: white;
	background-color: #960606;
	font-family: talon, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	letter-spacing: 15px;
	height: 50px;
	padding: 5px;
	width: 150px;
	border-radius: 20px;
	border: none;
}

