@charset "UTF-8";
/*CSS Doc*/

h1, p {
	font-family: talon, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.hidden {
	display: none;
}

#theContainer
{
	width: 1200px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
}

.theBody {
	background-color: black;
	color: #000;
    font-size: 15px;
    line-height: 15px;
    font-family: agency-fb, sans-serif;
}

.theHeader {
	height: 300px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin: 0 auto;
}

.theHeader h1 {
	text-align: center;
	margin-top: 200px;
	color: #960606;
	font-size: 250px;
	margin-bottom: 100px;

}

#howToCon p {
	text-align: center;
	color: #960606;
	font-size: 87px;
	line-height: 82px
}

#howToCon {
	display: flex;
}

#mainContent {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 200px;
	margin-bottom: 80px;
}

.iconsLeft
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 5px;
	text-align: center;
}

.iconsRight
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 5px;
	text-align: center;
}


.iconContainer {
	width: 132px;
	height: 132px;
	justify-content: center;
	background-color: #afafaf;
	margin: 5px;
}

.iconContainer img
{
	width: 120px;
	height: 120px;
	
}

#bckgrd {
	background: url(.../images/container_web.svg);
	width: 792px;
	height: 576px;
	margin-top: 10px;
}


.theFooter {
	font-family: talon, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: #960606;
	font-size: 87px;
	line-height: 82px
	margin-top: 40px;

}

